@charset "UTF-8";
/* CSS Document */

/** markdown source **/
.cm-s-typora-default .cm-header, 
.cm-s-typora-default .cm-property
{
    color: #ff8c00;
}

.CodeMirror.cm-s-typora-default div.CodeMirror-cursor{
    border-left: 3px solid #ff006a;
}

.cm-s-typora-default .cm-comment {
    color: #f2ff93;
}

.cm-s-typora-default .cm-string {
    color: #00bfff
}

.cm-s-typora-default .cm-atom, .cm-s-typora-default .cm-number {
    color: #aa00ff;
    font-style: italic;
}

.cm-s-typora-default .cm-link {
    color: #95B94B;
}

.cm-s-typora-default .CodeMirror-activeline-background {
    background: rgba(51, 51, 51, 0.72);
}

.cm-s-typora-default .cm-comment, .cm-s-typora-default .cm-code {
	color: #e1bb8a;
}